<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Pending
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item *ngFor="let list of desiresService.lists" detail color="dark" (click)="getSelectedList(list)">
            <ion-label>{{ list.title }}</ion-label>
            <ion-note color="tertiary" slot="end">{{ list.items.length }}</ion-note>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addList()">
        <ion-fab-button color="tertiary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>