<div [ngClass]="alert" class="alert" role="alert">
    A simple success alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alert = 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'">Success</button>

<br><br>

<h3 [ngClass]="{ 'text-info': properties.info, 'text-success': !properties.info }">Hello world</h3>

<button type="button" class="btn" [ngClass]="{ 'btn-info': properties.info, 'btn-success': !properties.info  }" (click)="properties.info = !properties.info">Change</button>

<br><br>

<h3>Async Process</h3>

<button type="button" class="btn btn-primary" [disabled]="loading" (click)="runProcess()">    
    <i [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }"  class="fa"></i>
    <span *ngIf="!loading"> Save changes</span>
    <span *ngIf="loading"> Wait, please...</span>
</button>